{% extends 'base.html' %}
{% load static %}

{% block 'links' %}<link rel="stylesheet" type="text/css" href="{% static 'main/css/form.css' %}">{% endblock %}
{% block 'style' %}
<style>
    /* #text {
        font-size: large;
    } */
</style>
{% endblock %}

{% block 'content' %}
    <h1>Your answers:</h1>
    <p>{{ model.text1 }}</p>
    <p>{{ model.text2 }}</p>
    <p>{{ model.text3 }}</p>
    <p>{{ model.text4 }}</p>
    <p>{{ model.changes }}</p>
    <p>{{ model.what_why_how }}</p>
    <hr>
    <p>{{ model.date_time }}</p>
{% endblock %}