{% extends 'base.html' %}
{% load static %}

{% block 'links' %}<link rel="stylesheet" type="text/css" href="{% static 'main/css/form.css' %}">{% endblock %}
{% block 'style' %}
<style>
    img {
        align-self: center;
        width: 44vw;
        border-radius: 35%;
    }
</style>
{% endblock %}

{% block 'content' %}
<h1>Your image</h1>
<img src="{{ media }}{{ model.image }}">
<h1>Date&Time<br>when your image was created.</h1>
<p>{{ model.date_time_pict }}</p>
<p>The latest update: {{ model.date_time }}</p>

<hr>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>You can change your image and date&time here.</h1>

    <br>
    
    <h1>Image</h1>
    <p>{{ form.image }}</p>

    <h1>Date&Time<br>when your image was created.<br>Pattern: 2024-01-07 20:19:11.00</h1>
    <p>{{ form.date_time_pict }}</p>

    <div>
        <input type="submit" value="Save my info">
    </div>
</form>
{% endblock %}