{% extends 'base.html' %}

{% block 'links' %}
    <style>
        body {text-align: center;}
        li {
            display: block;
            font-size: 50px;
            padding-left: 20px;
            color: brown;
        }
        label {
            font-size: larger;
            padding-left: 20px;
        }
        input {
            height: 100px;
            width: 25%;
            border-radius: 3%;
            font-size: 44px;
            padding: 10px;
        }
        button {
            height: 50px;
            width: 15%;
            border-radius: 3%;
            font-size: 33px;
        }
    </style>
{% endblock %}

{% block 'content' %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log in</button>
    </form>
{% endblock %}