{% extends 'base.html' %}
{% load static %}

{% block 'links' %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/creature.css' %}">
{% endblock %}

{% block 'content' %}
    <h1>Click on the questions or photo and enjoy changing!<span class="heart">&#x2665;</span></h1>
    <br>

    <div class="grid-container">
        <div class="parameter1"><p><a href="{% url 'who_are_you' %}">Who are you?<br>What do you want from this life and from you?</a></p></div>
        <div class="parameter2"><p><a href="{% url 'what_do_you_do' %}">What do you do every week? (work, study, housework)</a></p></div>
        <div class="parameter3"><p><a href="{% url 'environment' %}">What does your room or environment look like?</a></p></div>
        <div class="parameter4"><p><a href="{% url 'habits' %}">What are your habits?</a></p></div>
        <div class="parameter_img">
            <a href="{% url 'my_photo' %}">
                <img src="{% static 'main/img/this_is_me.jpg' %}" alt="this_human" title="This is you :&rang;" height="500px", width="300px"/>
            </a>
        </div>
        <div class="parameter5"><p><a href="{% url 'free_time' %}">How do you spend your free time?</a></p></div>
        <!-- In developing... (where style="opacity: 0;") and no # -->
        <div class="parameter6">
            <h1>Appearance</h1>
            <p><a href="{% url 'look_like' %}">What do you look like?</a></p>
        </div>
        <div class="parameter7">
            <h1>Behavior</h1>
            <p><a href="{% url 'behavior' %}">What is your behavior like?</a></p>
        </div>
        <div class="parameter8">
            <h1>Mind</h1>
            <p><a href="{% url 'thoughts_direction' %}">How do you think?</a></p>
        </div>
    </div>
    
    <br>
    <h1>Don't forget about the connection.</h1>
    <p class="addition">For instance, the things that you do every day shape your thoughts and habits, just like how your free time and environment can influence you.</p>
    <p class="addition">Additionally, if you think about doing the right things but don't actually do them, you develop a habit of 'not doing'.</p>
{% endblock %}