{% extends 'base.html' %}
{% load static %}

{% block 'links' %}<link rel="stylesheet" type="text/css" href="{% static 'main/css/form.css' %}">{% endblock %}
{% block 'style' %}
<style>
    #text {
        font-size: large;
    }
</style>
{% endblock %}

{% block 'content' %}
    <h1>Your answers:</h1>
    <p>{{ model.name }}</p>
    <p>{{ model.surname }}</p>
    <p>{{ model.goals }}</p>
    <p>{{ model.changes }}</p>
    <p>{{ model.what_why_how }}</p>
    <p>{{ model.date_time }}</p>
{% endblock %}