body {
    text-align: center;
    padding-bottom: 10px;
}
form {
    display: flex;
    flex-direction: column;
}
li {
    display: block;
    font-size: 25px;
    padding-left: 20px;
    color: brown;
}
label {
    font-size: 34px;
    padding-left: 20px;
}
input, textarea {
    border-radius: 3%;
    font-size: 32px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input {
    height: 45px;
    width: 25%;
}
textarea {
    height: 173px;
    width: 1105px;
}
button, input[type="submit"] {
    height: 65px;
    width: 330px;
    border-radius: 3%;
    font-size: 32px;
    margin: 10px;
}
p {
    font-size: 25px;
}